.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
  }

  a {
    width: fit-content;
    text-decoration: none;
    color: #222;
  }

  
}

.projectCard {
  transition: transform 200ms ease-in-out;
  max-width :min-content;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
}

.projectCard:hover{
  transform: scale(1.02);
}


.projectDetails {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5px;
}

.sourceLink {
  margin-top: 2px;
  width: 25px;
}

.detailesText {
  text-align: left;
}



@media (width >=800px) {
  .projectcardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  } 
}
